name: Rust

on:
  push: {}
  pull_request: {}

env:
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test Rust ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        #- { rust: No MSRV supported at this time, os: windows-latest }
        - { rust: stable, os: windows-latest }
    steps:
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - uses: actions/checkout@v2
    - run: cargo check --no-default-features
    - run: cargo check --no-default-features --features="alloc"
    - run: cargo check --no-default-features --features="png"
    - run: cargo check --no-default-features --features="png,miniz_oxide"
    - run: cargo check --no-default-features --features="png,miniz_oxide,alloc"
    - run: cargo check --no-default-features --features="bmp"
    - run: cargo check --no-default-features --features="netpbm"
    - run: cargo test --all-features
